

  .app {
    display: flex;
    height: 100vh;
  
    .sidebar {
      width: 240px;
      background-color: #f0f2f5;
      padding: 20px;
      border-right: 1px solid #ccc;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          display: flex;
          align-items: center;
          padding: 10px;
          font-size: 16px;
          color: #333;
          margin-bottom: 10px;
          border-radius: 5px;
          cursor: pointer;
  
          i {
            margin-right: 10px;
            font-size: 20px;
            color: #555;
          }
  
          &.active {
            background-color: #e1e1e1;
            color: #000;
  
            i {
              color: #000;
            }
          }
  
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  
    .main-content {
      flex: 1;
      padding: 40px;
      width: 900px;
      border-radius: 10px;
      background-color: #fff;
  
      h3 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
      }
  
      p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #777;
      }
  
      .security-options {
        .option {
          display: flex;
          align-items: center;
          padding: 15px 20px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;
          cursor: pointer;
  
          i {
            margin-right: 10px;
            font-size: 18px;
            color: #555;
          }
  
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
  